<%- include('../includes/head.ejs') %> 
  <%- include('../includes/navigation.ejs')  %>

  <main>
    <h1>Checkout Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nobis
      voluptatum laudantium eveniet modi qui necessitatibus sequi repellendus
      nostrum quis, praesentium quas, molestias quia aspernatur alias iure vero!
      Voluptatem, qui?
    </p>
  </main>

<%- include('../includes/end.ejs') %>
